$project-title:#2C8A86;
$activeStatus:#30e463;
$inactiveStatus:#ff3410;
$heading-danger:#FF4F5A;
$link:#0d6ec9;
$rating:#42A840;
$bidbtn:#FF4F5A;
$white:#fff;
$mapmarker:#E30909;
$muted:rgb(187, 187, 187);
$bg-color:#1DBCB5;
$black-bg:#1B2F36;
$bid-card:#4B575B;
$btn-muted:#A9A7A7;
$bg-grey:#eeebeb;
$header:#3DB2AD;