@import "color";

.filter {

    position: fixed !important;
    top: 150px;
    width: 350px;
    height: 100vh;
    background-color: $white;
    padding: 20px 20px 180px;




    @media (max-width:767px) {
        position: fixed;
        top: 70px;
        height: 100vh;
        z-index: 9;
        width: 70%;

        p,
        span {
            font-size: 1.5rem;
        }

        label,
        svg {

            font-size: 1rem;

        }



    }



    .sortby {
        padding: 15px;




        .close-filter {
            width: 50px;
            height: 50px;
            font-size: 2rem;
            background-color: transparent;
            border: 0;

        }

        .price {


            .btn-round {
                color: $white;
                padding: 5px 20px;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }

            .btn-round:nth-child(1) {
                background-color: $project-title;


            }

            .btn-round:nth-child(2) {
                background-color: $bidbtn;

            }
        }
    }

    .partition {
        padding: 15px;

        span {
            margin-top: 20px;

        }


    }
}