.info_section {
  position: relative;
  background-color: #1a2e35;
  color: #ffffff;
  padding: 30px;
}
.info_section a {
  text-decoration: none;
  transition: text-transform 0.25s linear, color 0.15s ease-in-out;
  -webkit-transition: text-transform 0.25s linear, color 0.15s ease-in-out;
  -moz-transition: text-transform 0.25s linear, color 0.15s ease-in-out;
  -ms-transition: text-transform 0.25s linear, color 0.15s ease-in-out;
  -o-transition: text-transform 0.25s linear, color 0.15s ease-in-out;
}
.info_section a:hover {
  text-decoration: underline;
  color: #1CBBB4;
}
.info_section .info_main .button-red {
  width: 180px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #1CBBB4;
  color: #ffffff;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
  border: 1.5px solid #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}
.info_section .info_main .button-red:hover {
  background-color: transparent;
  border-color: #ff4f5a;
  color: #ff4f5a;
}
.info_section .info_main .button-white {
  width: 180px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
  border: 1.5px solid #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}
.info_section .info_main .button-white:hover {
  background-color: transparent;
  border-color: #ff4f5a;
  color: #ff4f5a;
}
.info_section .heading_container {
  margin-bottom: 45px;
}
.info_section h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.info_section .info_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 75px;
}
.info_section .info_top .info_logo {
  display: flex;
}
.info_section .info_top .info_logo img {
  width: 65px;
}
.info_section .info_top .info_logo span {
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
}
.info_section .info_top .social_box {
  display: flex;
  align-items: center;
}
.info_section .info_top .social_box a {
  margin: 0 10px;
}
.info_section .info_top .social_box a img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}
.info_section a {
  text-transform: none;
}
.info_section ul {
  padding: 0;
}
.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}
.info_section ul li a {
  color: #ffffff;
}
.info_section .info_link-box {
  display: flex;
  flex-direction: column;
}
.info_section .info_form .follow li svg {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.info_section .Contact ul li a i svg {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.info_section .info_contact .Links ul li {
  min-width: 120px;
  height: 20px;
  border-right: 2px solid #fff;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin-top: 20px;
}
.info_section .info_contact .link-box {
  display: flex;
  align-items: center;
  margin: 30px 0;
  color: #ffffff;
}
.info_section .info_contact .link-box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  margin-right: 20px;
}
.info_section .info_contact .link-box .img-box img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfeff;
}
.footer_section p {
  color: #171717;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}
.footer_section a {
  color: #171717;
}/*# sourceMappingURL=Footer.css.map */