@media (max-width:767px) {
    * {

        font-size: 80%;
    }
}

.experience_section {
    margin-bottom: 40px;

    .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .detail-box {
        .heading_container {
            @media (max-width:767px) {
                margin: 20px auto;

            }

            h2 {

                font-size: 2rem;


            }
        }

        p {
            margin-top: 20px;
        }

        .btn-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            @media (max-width:767px) {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            margin: 45px -5px 0 -5px;

            a {
                text-align: center;
                width: 165px;
                font-size: 1.25rem;
                margin: 5px;
            }

            .btn-1 {
                display: inline-block;
                padding: 10px 0;
                background-color: #ff4f5a;
                color: #ffffff;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                border: 1px solid transparent;
                border-radius: 0;
                text-decoration: none;

                &:hover {
                    background-color: transparent;
                    border-color: #ff4f5a;
                    color: #ff4f5a;
                }
            }

            .btn-2 {
                display: inline-block;
                padding: 10px 0;
                background-color: #1a2e35;
                color: #ffffff;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                border: 1px solid transparent;
                border-radius: 0;
                text-decoration: none;

                &:hover {
                    background-color: transparent;
                    border-color: #1a2e35;
                    color: #1a2e35;
                }
            }
        }
    }

    .img-box {
        img {
            width: 100%;
        }
    }
}