.multicolor {
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
    background: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
}

.singlecolor {
    background: #1a2e35;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
}

.simplebar-wrapper {

    .accordion {


        .accordion-collapse {
            .multi-level {
                padding-left: 0;


                .nav-item {
                    padding-left: 0;

                    .nav-link {
                        text-align: left;
                    }
                }
            }
        }

    }


    a.nav-link {

        font-size: 1rem;

        @media (max-width:767px) {

            font-size: 1.5rem !important;

        }

    }
}


.navbar-toggler {
    outline: none;
    border: 0;
    overflow: hidden;

    &:hover,
    &:focus {
        background-color: transparent;
        box-shadow: 0;
    }

    button {
        outline: none;
        border: none;
        background-color: transparent;

        span {
            display: block;
            width: 34px;
            height: 4px;
            background-color: #fff;
            margin: 7px 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border-radius: 10px;
        }
    }

    .s-2 {
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        width: 17px;
        margin-left: auto;
    }

}

.navbar {
    #menus {

        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &.active {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }




        a {

            color: #fff;
        }

        .dropdown-menu {
            a {
                color: #000;
            }
        }
    }
}

.custom_menu-btn {
    div {
        outline: none;
        border: none;
        background-color: transparent;

        span {
            display: block;
            width: 34px;
            height: 4px;
            background-color: #fff;
            margin: 7px 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border-radius: 10px;
        }
    }

    .s-2 {
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        width: 17px;
        margin-left: auto;
    }
}

.menu_btn-style {
    div {

        .s-1 {
            -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
        }

        .s-2 {
            -webkit-transform: translateX(100px);
            transform: translateX(100px);
        }

        .s-3 {
            -webkit-transform: rotate(-45deg) translate(8px, -8px);
            transform: rotate(-45deg) translate(8px, -8px);
        }
    }
}