@import "./color";

@media (max-width:767px) {
    * {
        font-size: 14px;
    }
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;




    .card {
        width: 70%;
        margin: 50px;

        .card-header {
            background-color: $header;
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }

        .category-wrap {
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px);
            grid-auto-rows: min-content;
            grid-auto-flow: row;

            grid-gap: 25px;
            margin: 20px auto;

            @media (max-width:767px) {

                grid-template-columns: repeat(auto-fit, 100%);


            }

            .box {
                background-color: $white;
                border: 2px solid rgb(117, 117, 117);
                cursor: pointer;
                transition: background 0.25s ease-in-out;
                -webkit-transition: background 0.25s ease-in-out;
                -moz-transition: background 0.25s ease-in-out;
                -ms-transition: background 0.25s ease-in-out;
                -o-transition: background 0.25s ease-in-out;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    text-align: center;
                    padding: 5px;

                }


            }

            .box.active {
                background-color: $header;
                color: $white;
                border: 0;
            }
        }
    }
}